/* -- Helper Classes -- */

.is-hidden {
  display: none !important;
  visibility: hidden;
}

.is-invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}